
.notes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.notes-pinned, .notes-not-pinned{

    column-count: 3;
    column-fill: balance;
    column-width: 240px;
    margin-block: 2rem;
}

.notes-not-pinned{
    padding-block-end: 20px;
}


.note-card {
    page-break-inside: avoid;
    page-break-after: avoid;
    page-break-before: avoid;
    display: flex;
    flex-flow: column;
    border-radius: 1em;
    height: fit-content;
    padding: 2rem;
    max-width: 25vw;
    margin-block-end: 1rem;
    margin-inline: 1rem
}

.note-card img {
    max-height: 150px;
    margin: 0 auto;
    
}

.note-card-clicked{
    border: gray 2px solid;
    height: 70vh;
    width: 70vw;
    margin: 0 auto;

}

.note-actions-btns{
    display: flex;
    align-self: center;
    margin-block-start: 1.5rem;
}

.note-actions-btns >* {
    width: 2rem;
    height: 2rem;
}
/* .note-actions-btns >*:not(:last-child){
margin-inline-end: 5px;
} */