/* TODO: DESIGN, RESPONSIVE, SEPERATE COMPONENTS DESIGN TO DIFFRENT FILES */

.keeper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.keeper-container li, p{
    font-size: 1.1rem;
}



.keeper-container input, textarea {
    background-color: inherit;
    border: none;
}

.keeper-container button {
    width: fit-content;
}

.pinned {
    color: red;
}

.unpinned {
    color: gray;
}

.color-circle {
    padding: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px #ab9a9a solid;
    margin: 0 auto;
}

.color-circle:hover {
    box-shadow: rgb(62 51 51) 0px 1px 10px 1px;
    cursor: pointer;
}

.default {
    background-color: white;
}

.red {
    background-color: #f28b82;
}

.orange {
    background-color: #fbbc04;
}

.yellow {
    background-color: #fff475;
}

.green {
    background-color: #ccff90;
}

.blue {
    background-color: #cbf0f8;
}

.purple {
    background-color: #d7aefb;
}

.brown {
    background-color: #e6c9a8;
}

.gray {
    background-color: #e8eaed;
}

.note-color-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    top: 30px;
    /* right: 50px; */
}