
/* TODO: DESIGN, RESPONSIVE, SEPERATE COMPONENTS DESIGN TO DIFFRENT FILES */


.keeper-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.keeper-container  button{
    border: 1px solid gray;
    width: fit-content;  
}





