@import url('./normalize.css');
@import url('./helpers.css');
@import url('./home.css');
@import url('./header.css');
@import url('./about.css');
@import url('./email-style/email.css');
@import url('../../Apps/Keeper/assets/css/keep-main.css');


* {
    box-sizing: border-box;
}

/*  ---- FONTS ---- */
@font-face {
    font-family: open-sans;
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: open-sans-bold;
    src: url(../font/OpenSans-Bold.ttf);
}

/* ---- MAIN ---- */
body {
    background-color: whitesmoke;
    font-family: open-sans;
}

main{
    display: flex;
    justify-content: center;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.user-preview {
    background-color: darkcyan;
    padding: 5px;
    width: 200px;
    text-align: center;    
}

.user-preview button {
    margin: 5px;
}

a{
    color: inherit;
    font-weight: bold;
    text-decoration: unset;
}

footer{
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}