@import url('./normalize.css');
@import url('./helpers.css');
@import url('./home.css');
@font-face {
    font-family: open-sans;
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: open-sans-bold;
    src: url(../font/OpenSans-Bold.ttf);
}
body {
    background-color: whitesmoke;
    font-family: open-sans;
}
main{
    display: flex;
    justify-content: center;
    /* margin-left: 20px;
    margin-right: 20px; */
}
.user-preview {
    background-color: darkcyan;
    padding: 5px;
    width: 200px;
    text-align: center;    
}
.user-preview button {
    margin: 5px;
}
footer{
    text-align: center;
}