@import url(../css/email-sidebar.css);
@import url(../css/email-preview.css);
@import url(../css/email-details.css);
@import url(../css/email-filter.css);
button{
    border:0;
    background-color: rgba(255, 255, 255, 0);
}
.email-app{
    /* background-color: gray; */
    flex-direction: row-reverse;
    padding: 50px;
}
.inbox{
    width: 60vw;
}
.email-panel{
    margin-right: 20px;
    width: 20vw;
}
.email-card{
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border : 1px black solid; */
    margin-bottom: 3px;
    border-radius: 5px;
}
.card-content{
    margin-left: 20px;

}
.mail-details{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
.bold{
    font-weight: bold;
}
.read{
    background-color: #1e35951c;;
}

.compose-mail{
	flex-direction: column;
    width: 500px;
}
.compose-mail input{
    background-color: rgba(255, 255, 255, 0);
	border-top: 0;
    border-right: 0;
    border-left: 0;
}
.btns-compose{
    
    justify-content: space-around;
}
.material-icons{
    font-size: 32px;
}
.material-icons.fa-mail{
    color:#1982c4;
    
}
.material-icons.fa-star{
    color:#ffca3a;
}
.material-icons.fa-trash{
    color:#ff595e;
}
.material-icons.fa-mail:hover{
    animation: heartBeat;
    animation-duration: 0.8s; 
}
.material-icons.fa-star{
    color:#ffca3a;
}
.material-icons.fa-trash:hover{
    animation: tada;
    animation-duration: 0.8s; 

}