.email-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
}
.email-filter input{
    border-radius: 2rem;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 3px 0px;
    border: 0;
}
.material-icons.search{
    position: absolute;
    margin-left: -32px;
}