.email-panel{
    flex-direction: column;
    /* align-items:center; */
    /* text-align: center; */
    margin-top: 50px;
}
.btn-sidebar{
    /* width: 80px; */
    display: flex;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 3px 0px;
    padding: 10px 25px;
    border-radius: 2rem;
}
.material-icons.add{
    font-size: 52px;
    color:  #1e3595;
    
}
.material-icons.add:hover{
    font-size: 52px;
    color: #ffb806;
    animation: heartBeat;
    animation-duration: 0.8s; 
}
.btn-compose{
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 3px 0px;
}
a.add-nav{
    display: flex;
    /* justify-content: center; */
    /* align-content: flex-start; */
    align-items: center;
}